*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: cinzel !important;
  list-style-type: none;
  text-decoration: none;
  transition: all .7s;
  font-weight: 100;
}

@font-face {
  font-family: cinzel;
  src: url('font/cinzel.ttf');
}
