header {
    position: fixed;
    width: 100%;
    z-index: 987 !important;
    padding: 1.5px;
    overflow: hidden !important;
    top: 0px;
    background: black;
}

header::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 50px;
    background: linear-gradient(to right,
            purple 50%, tan 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(35px);
    animation: forLazer 19s linear infinite;
}

.header {
    position: relative;
    z-index: 3 !important;
    background: black;
    width: 100%;
    height: 100%;
    color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btns {
            display: flex;
            gap: 15px;

            button {
                display: flex;
                position: relative;
                background: linear-gradient(to top,
                        #d2b48c99, black, black);
                color: white;
                padding: 10px 18px;
                font-size: 19px;
                cursor: pointer;

                span {
                    position: absolute;
                    transform: translate(-150%, -100%);
                }

                input {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
    }

    h1 {
        font-size: 45px;
        cursor: pointer;
        color: transparent;
        background: linear-gradient(to right,
                black, tan);
        background-clip: text;
        animation: forH 15s linear infinite;
        opacity: 1;
    }

}

/* Animationnerin Kazmel Drsic; */
@keyframes forH {
    to {
        background-position-x: -1000px;
    }

    50% {
        opacity: 0;
    }
}

@keyframes forLazer {
    to {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

.opacity {
    font-size: 21px;
    font-style: oblique;
    letter-spacing: 1px;
    opacity: .3;
}

.money {
    font-size: 23px;
    font-style: oblique;
}
