.product {
    background: black;
    min-height: 1000px;
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 150px 30px;
    padding-top: 100px;
}

.productItems {
    color: #D5C7AC;
    padding: 1px;
    position: relative;
    overflow: hidden !important;

    .block {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3 !important;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 35px;
        padding: 35px 55px;
        cursor: pointer;

        h3 {
            font-size: 27px;
            white-space: nowrap;
            align-self: center;
            position: relative;
            top: 0%;
        }

        .pictures {
            width: 100%;
            height: 350px;
            background-size: 100% 100% !important;
            border-radius: 15px;
            position: relative;
            top: 0%;
        }

        p {
            line-height: 25px;
            font-style: oblique;
            position: relative;
            left: 0%;
        }

        span {
            font-size: 27px;
            align-self: center;
            position: relative;
            top: 0%;
        }

        button {
            position: absolute;
            background: black;
            padding: 10px 18px;
            border-radius: 5px;
            top: -100%;
            left: 50%;
            transform: translate(-50%, -150%);

            svg {
                color: tan;
                cursor: pointer;
                font-size: 35px;
            }
        }

    }
}

.block:hover p         { left: 200%; }
.block:hover .pictures { top : 10%;  transform: scaleY(1.05); filter: brightness(1.3) contrast(1.3); }
.block:hover span      { top : -90%; transform: translateY(-75%) scale(2); }
.block:hover h3        { top : 150%; }
.block:hover button    { top : 100%; }
.block > button:hover  { svg { color: white; } }

.productItems::before {
    content: '';
    position: absolute;
    background: linear-gradient(
        to top,
        purple 50%,
        tan 50%
    );
    width: 150px;
    height: 150%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: forEffect 19s linear infinite;
    filter: blur(50px);
}

@keyframes forEffect {
    to {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}
